.app {
  width: 100%;
  padding: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
}

h2 {
  color: #6e7783;
  font-weight: bolder;
}

p {
  color: #6e7783;
}

input {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  height: 30px;
}

input[type="text"] {
  font-size: 14px;
}

.add_bt {
  background-color: #f6b352;
  color: #fffff3;
  font-weight: 900;
  border-radius: 4px;
  border: none;
  font-size: 11px;
  padding: 10px;
  margin-bottom: 30px;
  width: 100px;
  transition: all 0.5s;
}

.add_bt:hover {
  background-color: #f68657;
}

.item {
  display: flex;
  margin-top: 3px;
  padding: 5px;
  color: #6e7783;
  font-weight: 500;
  border-bottom: 1px solid #6e7783;
  justify-content: space-between;
}

.del_btn {
  background-color: #e3dede;
  color: #fffff3;
  font-weight: 900;
  border-radius: 4px;
  border: none;
  font-size: 10px;
  padding: 5px;
  width: 60px;
  height: 40px;
  transition: all 0.5s;
}

.del_btn:hover {
  background-color: #a3a1a1;
}


.edit_btn {
  background-color: #f7aa97;
  color: #fffff3;
  font-weight: 900;
  border-radius: 4px;
  border: none;
  font-size: 10px;
  margin-right: 5px;
  padding: 5px;
  width: 60px;
  height: 40px;
  transition: all 0.5s;
}

.edit_btn:hover {
  background-color: #de7e73;
}